<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contact Page</title>
  </head>
  <body>
    {{> header }}
    <p>Address: {{ address }}. Phone: {{ phone }}</p>
    {{> footer }}
  </body>
</html>
